@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/*--Header--*/

 .main-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
 }

 .headintro {
    font-family: "Varela Round", sans-serif;
    position: absolute;
    top: 475px; 
    left: 0; 
    width: 100%;
    color: #fafafa;
 }

 .headintro2 {
    font-family: "Varela Round", sans-serif;
    position: absolute;
    top: 525px; 
    left: 0; 
    width: 100%;
    color: #cecccc;
 }

 .headbkimg {
    position: relative;
    text-align: center;
 }

.over-img {
    position: absolute;
    top: 20%;
    left: 43%;
    border-radius: 50%;
}


.imagesize {
     padding: 0px;
 }


/*--Footer--*/

#footer {
    background-color: #e2e2e2;
}

#footer h3 {
    margin-top: 14px;
    font-family: "Varela Round", sans-serif;
}

.social-media li a i {
    margin-top: 20px;
    color: #70a5d1;
    font-size: 20px;
    padding: 0 12px;
}